@import "node_modules/bootstrap/scss/bootstrap";
body{
    min-height:200vh;
}
*{
    font-family: 'Poppins';
}
//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf')  format('truetype'), url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Khand-Regular';
  src: url('fonts/Khand-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Khand-Regular.woff') format('woff'), url('fonts/Khand-Regular.ttf')  format('truetype'), url('fonts/Khand-Regular.svg#Khand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//variables
$padt:15rem;
$padb:8rem;
$hdfont:2rem;
$regfont:1.2rem;
$smallfont:1rem;
$primary:rgba(185, 59, 32, .8);
$wh:rgb(255,255,255);
$grey:#e8ecf8;
//mixins
@mixin bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top center;
}
@mixin bg-light{
    background-color:transparent;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color:rgba(255,255,255,.7);
}
.navbar-light .navbar-nav .nav-link{
    @include hover-focus{
        color:rgba(255,255,255,.7);
    }
    
}
.heading{
    font-size: $hdfont;
}
.primary-color{
    color:$primary;
}
header{
    position: relative;
    overflow: hidden;
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    @include bg;
    padding-bottom: $padb;
    .fa-facebook{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .header_text{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $padt;
        color:$wh;
        font-size: 1.2rem;
            h1{
                z-index: 1;
            }
            p{
                z-index: 1;
            }
            a{
                cursor: pointer;
                color:$wh;
                z-index: 1;
            }
            .btn-primary{
                background-color:$primary;
                border-color:$primary;
                padding: 0.575rem 1.75rem;
            }
            .btn-primary:active{ background-color:$primary;}
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#000;
    opacity: .4;
}
.container-fluid{
    padding-left:0;
    padding-right:0; 
        .fixed-top{
        transition:500ms ease;
            .navbar-brand{
                font-size:$hdfont;
                color:$primary;             
                span{                   
                    font-size: $smallfont;
                }
            }
            .nav-item:after{
                content: "";
                display: block;
                width: 80%;
                margin:auto;
                height: 2px;
                background: $primary;
                transition: 0.3s;
                opacity: 0;
            }
            .nav-item{
                padding-right: .3rem;
                &:hover:after{
                    opacity: 1;
                }
                &:last-child:hover:after{
                    display:none;
                }
            }
            .nav-link{
                text-transform: uppercase;
                color:$wh;
                font-size: $smallfont;
                transition:.3s;
                font-weight: 400;
                &:hover{
                   color: rgba(255,255,255,.7);

                }
            }
        }
        .fixed-top.scrolled{
        background:rgba(0,0,0,0.7);
        }
}
section h2:after{
    content:"";
    display: block;
    width: 50px;
    height: 3px;
    background:$wh;
    margin-top: .5rem;
}
//about us section
.about{
    padding-top:$padb;
    background-color:$grey;
}
//services section
.services{
    padding-top:$padb;
    
    .services h2:after{
        background:$primary;
    }
}








//contact us section
.contact{
    padding-top:$padb;
    padding-bottom:$padt;
    background-color: #212529;
    background:url(img/map.jpg);
    background-attachment: fixed;
    @include bg;
    color:$wh;
    .btn-primary{
        background-color:$primary;
        border-color:$primary;
    }
    .btn-primary:active{ background-color:$primary;}
    .email{
        color:$wh;
    }
    .contact_info{
        padding-top: 6.5rem;
    }
}