@import "node_modules/bootstrap/scss/bootstrap";
//variables
$padt:10rem;
$padb:5rem;

//mixins
body{
    min-height:200vh;
}
@mixin bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top center;
}
@mixin bg-light{
    background-color:transparent;
}
header{
    height: 900px;
    background-image: url(img/header.jpg);
    @include bg;
    padding-bottom: $padb;
}
.container-fluid{
    padding-left:0;
    padding-right:0; 
        .fixed-top{
        transition:500ms ease;
        }
        .fixed-top.scrolled{
        background:rgba(255,255,255,0.7);
        }
}