$theme-colors: (
  "primary": rgba(185, 59, 32, 0.8),
);
@import "node_modules/bootstrap/scss/bootstrap";
*{
    font-family: 'Poppins';
}
//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf')  format('truetype'), url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Khand-Regular';
  src: url('fonts/Khand-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Khand-Regular.woff') format('woff'), url('fonts/Khand-Regular.ttf')  format('truetype'), url('fonts/Khand-Regular.svg#Khand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//variables
$padt:15rem;
$padb:8rem;
$hdfont:2rem;
$regfont:1.2rem;
$smallfont:1rem;
$primary:rgba(185, 59, 32, 0.8);
$wh:rgb(255,255,255);
$grey:#f9f9f9;
::selection{
    background-color:$primary;
}
//mixins
@mixin bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top center;
}
@mixin bg-light{
    background-color:transparent;
}
@mixin box_shadow{
    box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
    -webkit-box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
    -moz-box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color:rgba(255,255,255,.7);
}
.navbar-light .navbar-nav .nav-link{
    @include hover-focus{
        color:rgba(255,255,255,.7);
    }
    
}
.btn-primary{
    background-color:$primary;
    border-color:$primary;
}
.btn-primary:active{ background-color:$primary;}
.btn-primary:hover{ 
    background-color:$primary;
    border-color:$primary;
}

.heading{
    font-size: $hdfont;
}
.primary-color{
    color:$primary;
}
.header{
    position: relative;
    overflow: hidden;
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    @include bg;
    padding-bottom: $padb;
    .fa-facebook{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .header_text{
        word-wrap: break-word;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: $padt;
        color:$wh;
        font-size: 1.2rem;
            h1{
                z-index: 1;
            }
            p{
                z-index: 1;
            }
            a{
                cursor: pointer;
                color:$wh;
                z-index: 1;
            }
            .btn-primary{
                background-color:$primary;
                border-color:$primary;
                padding: 0.575rem 1.75rem;
            }
            .btn-primary:active{ background-color:$primary;}
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#000;
    opacity: .4;
}
.container-fluid{
    padding-left:0;
    padding-right:0; 
        .fixed-top{
        transition:500ms ease;
            .navbar-brand{
                font-size:$hdfont;
                color:$primary;             
                span{                   
                    font-size: $smallfont;
                }
            }
            .nav-item:after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: $primary;
                transition: 0.3s;
                opacity: 0;
            }
            .nav-item{
                padding-right: .3rem;
                &:hover:after{
                    opacity: 1;
                }
                &:last-child:hover:after{
                    display:none;
                }
            }
            .nav-link{
                text-transform: uppercase;
                color:$wh;
                font-size: $smallfont;
                transition:.3s;
                font-weight: 400;
                &:hover{
                   color: rgba(255,255,255,.7);

                }
            }
        }
        .fixed-top.scrolled{
        background:rgba(0,0,0,0.7);
        }
}
section h2{
    font-weight: bold;
}
section h2:after{
    content:"";
    display: block;
    width: 55px;
    height: 3px;
    background:#b1b7b9;
    margin-top: .5rem;
}
//about us section
.about{
    padding-top:4rem;
    padding-bottom: 3rem;
    background-color:$grey;
}
//services section
.services{
    padding-top:$padb;
    padding-bottom: $padb;
    overflow: hidden;
    h5{
        font-weight: bold;
    }
    // .card:hover{
    //     span{
    //         border: 1px solid grey;
    //         border-radius: .25rem;
    //     }
    // }
    span{
        color:$primary;
        font-weight: bold;
        font-size: large;
        padding: .5rem;
        cursor: pointer;
        background: none;
        border: 0;
        box-shadow: inset 0 0 0 2px $grey;
        position: relative;
        vertical-align: middle;
        &::before,
        &::after {
          box-sizing: inherit;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
        }
    }
    .draw {
        transition: color 0.1s;
    
      &::before,
      &::after {
        border-radius: .25rem;
        border: 2px solid transparent;
        width: 0;
        height: 0;
      }
      &::before {
        top: 0;
        left: 0;
      }
      &::after {
        bottom: 0;
        right: 0;
      }      
      &:hover {
        color: $primary;
      } 
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }    
      &:hover::before {
        border-top-color: $primary; 
        border-right-color: $primary;
        transition:
          width 0.25s ease-out,
          height 0.25s ease-out 0.25s;
      }
    
      &:hover::after {
        border-bottom-color: $primary;
        border-left-color: $primary;
        transition:
          border-color 0s ease-out 0.5s,
          width 0.25s ease-out 0.5s,
          height 0.25s ease-out 0.75s;
      }
    }
    .row1{
        justify-content: space-between;
    }
    .card-header{
        background:$primary;
        color:$wh;
    }
}
//process section
.process{
    padding-top:$padb;
    padding-bottom: $padt;
    color:$wh;
    background:url(img/section.jpg);
    background-attachment: fixed;
    @include bg();
    h2{
        padding-bottom: 5rem;
        &:after{
            background:$wh;
        }
    }
    .box_wrapper{
        border: 2px solid $wh;
        border-radius: .25rem;
        padding: 1.5rem;
        position: relative;
    }
    ul{
        list-style-type: disc;
    }
    .box_top{
        padding-top: 1rem;
    }
    .box_bottom{
        position: absolute;
        left: .2rem;
        p{
            padding:.7rem;
        }
    }
    #spec{
        top: -1rem;
    }
}

//news section
.news{
    padding-top: $padb;
    padding-bottom: $padb;
    background-color: $grey;
    .button{
        margin-top:4rem;
    }
    .firstBg{
        background:url(img/news1.jpg);
    }
    .secondBg{
        background:url(img/news2.jpg);
    }
    .thirdBg{
        background:url(img/news3.jpg);
    }
    .img_container{
        width: 100%;
        height: 15rem;
        @include bg();
        img{
            height: 250px;
        }
    }
    p{
        font-size: .9rem;
        border-top:2px solid $grey;
    }
    h3{
        font-size: $regfont;
    }
    .card-body{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card{
        img{
            transition: all .3s ease-in-out;
        }
        &:hover{
            cursor: pointer;
            h3{
                color:$primary;
                font-weight: bold;
            }
        }
    }
}
//contact us section
.contact{
    padding-top:$padb;
    padding-bottom:$padt;
    background:url(img/map.jpg);
    background-attachment: fixed;
    @include bg;
    color:$wh;
    .contact_left{
        background:$wh;
        color:rgb(20, 20, 20);
        border-radius: 0.25rem;
    }
    .email{
        color:rgb(20, 20, 20);
    }
    .contact_info{
        padding-top: 2.5rem;
    }
    label{
        font-size: $regfont;
    }
}
//footer section
footer{
    padding-top:.5rem;
    padding-bottom:.3rem;
    background:$grey;
}
.absolute{
    position: absolute;
    bottom:0;
}
.fa-arrow-right{
    transition: .3s;
    &:hover{
        transform: translateX(5px);
    }
}
//about.html
#header_about{
    padding-bottom: 0;
}
#about_us{
    padding-bottom:2rem;
    background:none;
    h2:after{
        display: none;
    }
    .card{
        padding:2rem;
    }
}
//team.html
#header_team{
    background:none;
    nav{
        background:rgba(0,0,0,0.7);
    }
}
.team{
    padding-bottom: $padb;
}
//responsive
@media (max-width:768px){
    .process{
        .box_wrapper{
            margin-bottom:6rem;
        }
    }
    #news{
        .card{
            margin-bottom:2rem;
        }
        .img_container{
            width: 100%;
            height: 16rem;
            @include bg();
        }
        .first{
            background: url(img/news1.jpg);
        }
    }
    #contact{
        form{
            margin-top:2rem;
        }
        .contact_info{
            padding-bottom:3rem;
        }
    }
}
@media(max-width:1024px){
    .process{
        .col-md-4{
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 4rem;
            &:nth-child(2n){
                margin-bottom: 2rem;
            }
        }
    }
}
//scrolbar styles
body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: $primary;
    border-radius: 0.25rem;
}
//particles
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }