@import "node_modules/bootstrap/scss/bootstrap";
body{
    min-height:200vh;
}
*{
    font-family: 'Poppins';
}
//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf')  format('truetype'), url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Khand-Regular';
  src: url('fonts/Khand-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Khand-Regular.woff') format('woff'), url('fonts/Khand-Regular.ttf')  format('truetype'), url('fonts/Khand-Regular.svg#Khand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//variables
$padt:15rem;
$padb:8rem;
$hdfont:2rem;
$regfont:1.2rem;
$smallfont:1rem;
$primary:rgba(185, 59, 32, .8);
$wh:rgb(255,255,255);
$grey:#e4e6e8;
//mixins
@mixin bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top center;
    background-size: cover;
}
@mixin bg-light{
    background-color:transparent;
}
@mixin box_shadow{
    box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
    -webkit-box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
    -moz-box-shadow: 6px 3px 9px 2px rgba(85,78,78,0.69);
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color:rgba(255,255,255,.7);
}
.navbar-light .navbar-nav .nav-link{
    @include hover-focus{
        color:rgba(255,255,255,.7);
    }
    
}
.btn-primary{
    background-color:$primary;
    border-color:$primary;
}
.btn-primary:active{ background-color:$primary;}
.btn-primary:hover{ 
    background-color:$primary;
    border-color:$primary;
}

.heading{
    font-size: $hdfont;
}
.primary-color{
    color:$primary;
}
header{
    position: relative;
    overflow: hidden;
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    @include bg;
    padding-bottom: $padb;
    .fa-facebook{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .header_text{
        word-wrap: break-word;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: $padt;
        color:$wh;
        font-size: 1.2rem;
            h1{
                z-index: 1;
            }
            p{
                z-index: 1;
            }
            a{
                cursor: pointer;
                color:$wh;
                z-index: 1;
            }
            .btn-primary{
                background-color:$primary;
                border-color:$primary;
                padding: 0.575rem 1.75rem;
            }
            .btn-primary:active{ background-color:$primary;}
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#000;
    opacity: .4;
}
.container-fluid{
    padding-left:0;
    padding-right:0; 
        .fixed-top{
        transition:500ms ease;
            .navbar-brand{
                font-size:$hdfont;
                color:$primary;             
                span{                   
                    font-size: $smallfont;
                }
            }
            .nav-item:after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: $primary;
                transition: 0.3s;
                opacity: 0;
            }
            .nav-item{
                padding-right: .3rem;
                &:hover:after{
                    opacity: 1;
                }
                &:last-child:hover:after{
                    display:none;
                }
            }
            .nav-link{
                text-transform: uppercase;
                color:$wh;
                font-size: $smallfont;
                transition:.3s;
                font-weight: 400;
                &:hover{
                   color: rgba(255,255,255,.7);

                }
            }
        }
        .fixed-top.scrolled{
        background:rgba(0,0,0,0.7);
        }
}
section h2{
    font-weight: bold;
}
section h2:after{
    content:"";
    display: block;
    width: 55px;
    height: 3px;
    background:$wh;
    margin-top: .5rem;
}
//about us section
.about{
    padding-top:$padb;
    padding-bottom: 3rem;
    background-color:$grey;
}
//services section
.services{
    padding-top:$padb;
    
    .services h2:after{
        background:$primary;
    }
}
//news section
.news{
    padding-top: $padb;
    padding-bottom: $padb;
    background-color: #e4e6e8;
    .img_container{
        overflow: hidden;
    }
    p{
        font-size: .9rem;
        border-top:2px solid $grey;
    }
    h3{
        font-size: $regfont;
    }
    .card-body{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card{
        transition: .3s;
        &:hover{
            cursor: pointer;
            @include box_shadow();
            h3{
                color:$primary;
                font-weight: bold;
            }
        }
    }
}



//contact us section
.contact{
    padding-top:$padb;
    padding-bottom:$padt;
    background:url(img/map.jpg);
    background-attachment: fixed;
    @include bg;
    color:$wh;
    .contact_left{
        background:$wh;
        color:rgb(20, 20, 20);
        border-radius:3px;
    }
    .email{
        color:rgb(20, 20, 20);
    }
    .contact_info{
        padding-top: 2.5rem;
    }
    label{
        font-size: $regfont;
    }
}

//footer section
footer{
    padding-top:1rem;
    padding-bottom:1rem;
    background:$grey;
.footer{
    justify-content: space-between;
    .socials{
        .nav-item{
            background:$wh;
            border-radius: 50%;
        }
        .nav-item:first-child{
            border-radius: 0;
            background:none;
            padding-top: .4rem;
            cursor: pointer;
        }
        a{
            color:$primary;
            border-radius: 50%;
        }
    }

}
}
.fa-arrow-right{
    transition: .3s;
    &:hover{
        transform: translateX(5px);
    }
}