@import "node_modules/bootstrap/scss/bootstrap";
body{
    min-height:200vh;
}
*{
    font-family: 'Poppins';
}
//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('Poppins-Regular.woff') format('woff'), url('Poppins-Regular.ttf')  format('truetype'), url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Khand-Regular';
  src: url('fonts/Khand-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Khand-Regular.woff') format('woff'), url('fonts/Khand-Regular.ttf')  format('truetype'), url('fonts/Khand-Regular.svg#Khand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//variables
$padt:15rem;
$padb:8rem;
$hdfont:2rem;
$regfont:1.2rem;
$smallfont:1rem;
$primary:rgba(185, 59, 32, .8);
$wh:rgb(255,255,255);
$grey:#e8ecf8;
//mixins
@mixin bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top center;
}
@mixin bg-light{
    background-color:transparent;
}
.heading{
    font-size: $hdfont;
}
.primary-color{
    color:$primary;
}
header{
    position: relative;
    overflow: hidden;
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    @include bg;
    padding-bottom: $padb;
    .header_text{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $padt;
        color:$wh;
            h1{
                z-index: 1;
            }
            p{
                z-index: 1;
            }
            a{
                cursor: pointer;
                color:$wh;
                z-index: 1;
            }
            .btn-primary{
                background-color:$primary;
                border-color:$primary;
                padding: 0.575rem 1.75rem;
            }
            .btn-primary:active{ background-color:$primary;}
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background:#000;
        opacity: .4;
    }
}
.container-fluid{
    padding-left:0;
    padding-right:0; 
        .fixed-top{
        transition:500ms ease;
            .navbar-brand{
                font-size:$hdfont;
                color:$primary;             
                span{                   
                    font-size: $smallfont;
                }
            }
            .nav-item:after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: $primary;
                transition: 0.3s;
                opacity: 1;
            }
            .nav-link{
                text-transform: uppercase;
                color:$wh;
                font-size: $smallfont;
                transition:.3s;
                font-weight: 400;
                &:hover{
                   color: rgba(255,255,255,.7);

                }
            }
        }
        .fixed-top.scrolled{
        background:rgba(0,0,0,0.7);
        }
}
section h2:after{
    content:"";
    display: block;
    width: 50px;
    height: 3px;
    background:$wh;
}
.about{
    padding-top:$padb;
    background-color:$grey;
}